<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>YT Downloader</title>
<link rel="stylesheet" href="../static/style.css">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
</head>
<body>
<h2><span>YT</span> Downloader</h2>

<div id="input-container">
<input type="url" name="url" id="url" placeholder="Enter url of video" />
<button id="extension-button">mp4</button>
</div>

<div id="fetch-container">
<button id="fetch-button"><span>Search</span><i class="fi fi-rr-search"></i></button>
</div>

<div id="loader-container">
<div class="loader">
</div>
</div>

<div id="info-container">
<p class="title">
</p>
<img class="thumbnail" src="" alt="thumbnail" />
</div>

<div id="option-container"></div>

<script src="../static/script.js"></script>
</body>
</html>